body {
  font-family: Arial, sans-serif;
  background-color: cyan;
}



.title {
  margin-top: 25px;
  align-self: center;
  font-family: cursive;
}

li {
  list-style: none;
  align-content: center;
}
.pokemon-list li button {
  background-color: lightblue;
  border: 1px solid black;
  height: 35px;
  width: 100px;
}


.pokemon-list {
  margin-top: 30px;
  columns: 4;
  text-align: center;
}
